"$schema" = 'https://starship.rs/config-schema.json'

format = """
$os \
$directory \
$git_branch \
$git_status \
$ruby\
$nodejs\
$line_break$character"""

# format = """
# [](peach)\
# $directory\
# [](fg:peach bg:green)\
# $git_branch\
# $git_status\
# [](fg:green)\
# $line_break$character"""

palette = "catppuccin_mocha"

[os]
disabled = false
style = "bold text"

[os.symbols]
Macos = "󰀵"
Windows = "󰍲"
Ubuntu = "󰕈"
Linux = "󰌽"
Arch = "󰣇"
Debian = "󰣚"

[directory]
style = "fg:sky"
format = "[$path]($style)"
truncation_length = 2
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "fg:green"
format = '[$symbol $branch]($style)'

[git_status]
# style = "fg:green"
format = '[($all_status$ahead_behind)]($style)'

[ruby]
symbol = ""
style = "bg:maroon fg:crust"
format = """
[](fg:maroon)\
[$symbol( $version)]($style)\
[ ](fg:maroon)"""

[nodejs]
symbol = "󰎙"
style = "bg:green fg:crust"
format = """
[](fg:green)\
[$symbol( $version)]($style)\
[ ](fg:green)"""

# [directory]
# style = "fg:surface0 bg:peach"
# format = "[ $path ]($style)"
# truncation_length = 2
# truncation_symbol = "…/"
#
# [git_branch]
# symbol = ""
# style = "bg:green"
# format = '[[ $symbol $branch ](bg:green fg:surface0)]($style)'
#
# [git_status]
# style = "bg:green"
# format = '[[($all_status$ahead_behind )](bg:green fg:surface0)]($style)'
#
# [line_break]
# disabled = false
#
# [character]
# disabled = false
# success_symbol = '[❯](bold fg:yellow)'
# error_symbol = '[❯](bold fg:red)'
# vimcmd_symbol = '[❮](bold fg:green)'
# vimcmd_replace_one_symbol = '[❮](bold fg:purple)'
# vimcmd_replace_symbol = '[❮](bold fg:purple)'
# vimcmd_visual_symbol = '[❮](bold fg:lavender)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
